@using System.Reflection
<div class="jumbotron">
    @{
        var assembly = typeof(WebApiApplication).Assembly;

        var titleAttribs = assembly.GetCustomAttributes(typeof(AssemblyTitleAttribute), false)
                .Cast<AssemblyTitleAttribute>();
        var titleAttrib = titleAttribs.FirstOrDefault();
        var title = titleAttrib == null ? string.Empty : titleAttrib.Title;

        var productAttribs = assembly.GetCustomAttributes(typeof(AssemblyProductAttribute), false)
            .Cast<AssemblyProductAttribute>();
        var productAttrib = productAttribs.FirstOrDefault();
        var product = productAttrib == null ? string.Empty : productAttrib.Product;

        var descriptionAttribs = assembly.GetCustomAttributes(typeof(AssemblyDescriptionAttribute), false)
        .Cast<AssemblyDescriptionAttribute>();
        var descriptionAttrib = descriptionAttribs.FirstOrDefault();
        var description = descriptionAttrib == null ? string.Empty : descriptionAttrib.Description;

        var companyAttribs = assembly.GetCustomAttributes(typeof(AssemblyCompanyAttribute), false)
            .Cast<AssemblyCompanyAttribute>();
        var companyAttrib = companyAttribs.FirstOrDefault();
        var company = companyAttrib == null ? string.Empty : companyAttrib.Company;
    }
    <h2>@title</h2>
    <p class="lead">Product: @product</p>
    <p class="lead">Description: @description</p>
    <p class="lead">Version: @assembly.GetName().Version</p>
    <p class="lead">Company: @company</p>
</div>
